DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public"
JWT_SECRET="super-secret-jwt-key-for-lab-only"
BETTER_AUTH_SECRET="super-secret-better-auth-key-for-lab-only-1234567890123456"
BETTER_AUTH_URL="http://localhost:3000"

# Database Configuration (Used by Docker Compose & Prisma)
DB_USER="admin"
DB_PASSWORD="password123"
DB_NAME="jwt_auth"
DB_PORT="5432"